<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqmPLV0_cE2hWGCLJ-IbMbShvXvhTFtxA</string>
	<key>GCM_SENDER_ID</key>
	<string>897580178568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrCodeGetx</string>
	<key>PROJECT_ID</key>
	<string>qrcode-39d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-39d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897580178568:ios:837711faf77e4da2b6933d</string>
</dict>
</plist>